API_PORT=8787
APP_ORIGIN=http://localhost:3000
API_ORIGIN=http://localhost:8787

# Copie de https://github.com/settings/developers (OAuth App "curriculo")
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Deve ser IDENTICO ao "Authorization callback URL" no GitHub:
# http://localhost:3000/api/oauth/github/callback
OAUTH_CALLBACK_URL=http://localhost:3000/api/oauth/github/callback

GITHUB_SCOPES=repo read:user user:email
